* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fdddb3;
  font-family: arial;

  text-align: center;
}

.btn {
  padding: 10px 20px !important;
  cursor: pointer;

  font-weight: bold;
  letter-spacing: 2px;

  color: #e7a160;

  background-color: #fff;
  border: 2px solid #e7a160;
  border-radius: 14px;

  transition-property: color, background;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.btn:hover {
  background-color: #e7a160;
  color: white;
}

.modal__text {
  padding: 20px;
  margin: auto;

  color: #e7a160;
  font-weight: bold;
  letter-spacing: 2px;
}

.hidden {
  display: none !important;
}

.show {
  display: block;
}

/* HEADER */
header {
  color: white;
  letter-spacing: 20px;
  font-size: 22px;
  padding: 10px 5px;
}

/* main SECTION */
.main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  background: white;
  border-radius: 5px;
  width: 400px;
  margin: auto;
}

.box {
  background: #df863d;
  border-radius: 5px;

  height: 80px;
  margin: 10px 0 0 15px;
}

.box.play:hover {
  opacity: 0.7;
  cursor: pointer;
}

.box img {
  width: 100%;
  border-radius: 5px;

  display: block;
  border: solid 1px transparent;
}

.box .outlined {
  background: #fdddb3;
  opacity: 0.7;
}

.main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  width: 20%;
}

.box__bottom {
  margin: 10px 0 0 10px;
  padding: 0 10px;
  color: white;
}

/* PRE modal window */
.choice__section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: rgba(0, 0, 0, 0.5);
}

.choice {
  width: 300px;
  padding: 20px 0 40px;

  background: white;
  border: 1px solid white;
  border-radius: 20px;
}

.choice__modal-text {
  margin-bottom: 5px;
}

/* POST modal window */
.final__section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
}

.final__section > div {
  width: 300px;
  padding: 20px 0 40px;

  background: white;
  border: 1px solid white;
  border-radius: 20px;
}
